// colors
$uoitlightblue: #0077CA;
$uoitdarkblue: #003C71;
$uoitlightgrey: #F6F7F7;
$uoitmediumgrey: #DCDDDF;
$uoitdarkgrey: #53565A;

// spacing
$full-space: 40px;
$half-space: 20px;

// font sizing
$font-size--xs: 10px;
$font-size--sm: 12px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;

$white-transparent: rgba(255,255,255, 0.85);