<div class="main-container">
	<bg-video visible="video.visible" mobile="mobile" sources="$ctrl.sources" fallback="{{ ::video.sources.fallback }}"></bg-video>

	<page-nav active="$ctrl.navMenu.active" items="$ctrl.navMenu.items"></page-nav>

	<!-- <ng-include src="'partials/_section-1.html'"></ng-include> -->
	<page-section template-url="partials/_section-1.html"></page-section>
	<page-section template-url="partials/_section-2.html"></page-section>
	<page-section template-url="partials/_section-3.html"></page-section>
	<page-section template-url="partials/_section-4.html"></page-section>
	<page-section template-url="partials/_section-5.html"></page-section>
	<page-section template-url="partials/_section-6.html"></page-section>
	<page-section template-url="partials/_section-7.html"></page-section>
	<page-section template-url="partials/_section-8.html"></page-section>
	
	<notification></notification>
</div>