<section class="section-7" ng-show="home.sequence[0].location"
		in-view="video.visible = $inview; home.activeBg = -1;" id="orientation">
	<article>
		<h2>September Orientation</h2>
		<p>As an incoming UOIT student, September orientation will provide you with the opportunity to familiarize yourself with the campus, learn how to get the most from your university experience, and meet new friends, faculty and staff. Prepare yourself for success in your first year by learning from upper-year students who volunteer their time to welcome you to the UOIT community.</p>
		<p>
			<span class="icon icon_calendar inline-icon"></span>Tuesday, September 6 and Wednesday, September 7<br/>
			<a href="https://studentlife.uoit.ca/student-experience-centre/orientation/september-orientation.php" target="_blank" class="button">Register for September Orientation</a>
		</p>
		<h3>International Student Orientation</h3>
		<p>International Student Orientation (ISO) gives you the opportunity to:</p>
		<ul class="block-list">
			<li>meet international students and staff.</li>
			<li>learn more about Canadian culture.</li>
			<li>hear about the transitional experiences of your peers.</li>
			<li>learn about studying in Canada and the differences you can expect from your previous studies.</li>
			<li>find out about UOIT services and how they can support you during your studies.</li>
		</ul>
		<p><a href="http://international.uoit.ca/before-you-arrive/international-students/international-orientation-registration.php" target="_blank" class="button">Register for ISO</a></p>
	</article>

</section>