<section class="section-7" id="orientation" in-view="video.visible = $inview;">
	<article>
		<h2>September Orientation</h2>
		<p>As an incoming student, September orientation will provide you with the opportunity to:</p>
		<ul class="block-list">
			<li>familiarize yourself with the campus.</li>
			<li>learn how to get the most from your university experience.</li>
			<li>meet new friends, faculty, and staff.</li>
		</ul>
		<p>Prepare yourself for success in your first year by learning from upper-year students who volunteer their time to welcome you to the university community.</p>
		<p>
			<span class="icon icon_calendar inline-icon"></span>Tuesday, September 5 and Wednesday, September 6
			<br/>
			<a href="https://studentlife.uoit.ca/student-experience-centre/orientation/september-orientation.php?utm_source=nextsteps&utm_medium=web&utm_campaign=orientation" target="_blank" class="button">Learn more about September Orientation</a>
		</p>
		<h3>International Student Orientation (ISO)</h3>
		<p>ISO gives you the opportunity to:</p>
		<ul class="block-list">
			<li>meet international students and staff.</li>
			<li>learn more about Canadian culture.</li>
			<li>hear about the transitional experiences of your peers.</li>
			<li>learn about studying in Canada and the differences you can expect from your previous studies.</li>
			<li>find out about the University's services and how they can support you during your studies.</li>
		</ul>
		<p>
			<span class="icon icon_calendar inline-icon"></span>Friday, September 1
			<br/>
			<a href="https://international.uoit.ca/before-you-arrive/international-students/international-orientation/index.php?utm_source=nextsteps&utm_medium=web&utm_campaign=iso" target="_blank" class="button">Learn more about ISO</a>
		</p>
	</article>

</section>