<section class="section-4" in-view="$ctrl.sequence[3].unattach = $inview;" id="ibegin">
	<article>
		<h2><span class="ibegin">iBEGIN</span> is the first part of your orientation at the University.</h2>
		<p>The event is designed to promote your academic and personal success. You will have the opportunity to meet classmates, faculty and staff; learn strategies for attending lectures; and discuss how to make the most of your university experience.</p>
		<h2>Wednesday, July 26 to Friday, August 4<span class="asterisk">*</span></h2>
		<p><span class="asterisk">*</span> Please continue to check back for your program’s specific iBEGIN date.</p>
	</article>
<!-- 	<div class="faculty-list">
		<ul>
			<li class="animated" ng-repeat="fac in ::$ctrl.facultyList"
				in-view="fac.show = $inview; $inview&&updateBg($inview, $inviewpart, $index);"
				in-view-options="{offsetTop: 300, offsetBottom: -200}"
				ng-class="{'fadeOutLeft' : !fac.show, 'fadeInLeft' : fac.show }">
				<h3 id="{{ ::fac.anchor }}">
					<small>{{ ::fac.date }}:</small><br/>
					<span ng-style="::{ color: fac.color }"><span ng-if="!fac.nocover">Faculty of&nbsp;</span><span ng-bind-html="::fac.name"></span></span>
					<span ng-if="::fac.name2" ng-style="::{ color: fac.color2 }" id="{{ ::fac.anchor2 }}"><br/>Faculty of {{ ::fac.name2 }}</span>
				</h3>
				<a ng-href="https://studentlife.uoit.ca/student-experience-centre/orientation/ibegin.php?utm_source=nextsteps&utm_medium=web&utm_campaign=ibegin_{{ ::fac.anchor }}" class="button" target="_blank">Register for <span class="ibegin">iBEGIN</span> <span class="ion-chevron-right"></span></a>
			</li>
		</ul>
	</div>
<img ng-repeat="fac in ::$ctrl.facultyList"
	bh-src-responsive="[ [ 'default', 'images/768/'+fac.image ], [ 'small', 'images/1280/'+fac.image ], [ 'medium', 'images/1920/'+fac.image ] ]"
	src="images/768/{{ ::fac.image }}" class="bg-element animated"
	ng-show="$ctrl.activeBg == $index"
	ng-class="{'fadeIn' : $ctrl.activeBg == $index && !fac.nocover, 'fadeInPano' : fac.nocover && $ctrl.activeBg == $index, 'no-cover' : fac.nocover }" /> -->
		<ul class="faculty-bg-list">

			<li class="animated" ng-repeat="fac in ::$ctrl.facultyList"
				in-view="fac.show = $inview;"
				in-view-options="{ throttle: 200 }"
				ng-class="{'fadeOutLeft' : !fac.show, 'fadeInLeft' : fac.show }">
				<div class="faculty-bg-container">
					<img bh-src-responsive="[ [ 'default', 'images/768/'+fac.image ], [ 'small', 'images/1280/'+fac.image ], [ 'medium', 'images/1920/'+fac.image ] ]"
					src="images/768/{{ ::fac.image }}" class="faculty-bg-image" />
					<div class="faculty-bg-content">
						<h3 id="{{ ::fac.anchor }}">
							<!-- <small>{{ ::fac.date }}:</small><br/> -->
							<span ng-style="::{ color: fac.color }"><span ng-if="!fac.nocover">Faculty of&nbsp;</span><span ng-bind-html="::fac.name"></span></span>
							<span ng-if="::fac.name2" ng-style="::{ color: fac.color2 }" id="{{ ::fac.anchor2 }}"><br/>Faculty of {{ ::fac.name2 }}</span>
						</h3>
						<a ng-href="https://studentlife.uoit.ca/student-experience-centre/orientation/ibegin.php?utm_source=nextsteps&utm_medium=web&utm_campaign=ibegin_{{ ::fac.anchor }}" class="button" target="_blank">Learn more about <span class="ibegin">iBEGIN</span> <span class="ion-chevron-right"></span></a>
					</div>
				</div>
			</li>

		</ul>
</section>