<section class="section-8" id="contact">
		<div class="article-container">
			<article>
				<h3>Registrar’s office</h3>
				<address>
					<strong>Admissions</strong><br/>
					<span class="ion-ios-telephone inline-icon"></span> 905.721.3190<br/>
					<span class="ion-email inline-icon"></span> <a href="mailto:futurestudent@uoit.ca">futurestudent@uoit.ca</a>
				</address>
				<address>
					<strong>Records and Registration</strong><br/>
					<strong>Student Awards and Financial Aid</strong><br/>
					<span class="ion-ios-telephone inline-icon"></span> 905.721.3190<br/>
					<span class="ion-email inline-icon"></span> <a href="mailto:connect@uoit.ca">connect@uoit.ca</a>
				</address>
			</article>
			<article>
				<h3>Student Life</h3>
				<address>
					<strong>Student Accessibility Services</strong><br/>
					<span class="ion-ios-telephone inline-icon"></span> 905.721.8668 ext. 2625<br/>
					<span class="ion-email inline-icon"></span> <a href="accessibility@uoit.ca">accessibility@uoit.ca</a>
				</address>
				<address>
					<strong>Student Experience Centre</strong><br/>
					<span class="ion-ios-telephone inline-icon"></span> 905.721.8668 ext. 3833<br/>
					<span class="ion-email inline-icon"></span> <a href="mailto:askme@uoit.ca">askme@uoit.ca</a>
				</address>
				<address>
					<strong>Student Learning Centre</strong><br/>
					<span class="ion-ios-telephone inline-icon"></span> 905.721.8668 ext. 6580<br/>
					<span class="ion-email inline-icon"></span> <a href="smartstart@uoit.ca">smartstart@uoit.ca</a>
				</address>
			</article>
		</div>
</section>