<section class="section-1" in-view="$ctrl.initSequence(); $ctrl.navMenu.active = !$inview; video.visible = $inview;"
	in-view-options="{offsetBottom: -1}"
	ng-class="{ 'darkened' : $ctrl.sequence[0].globe[1] }">
	<div>
		<img src="https://shared.uoit.ca/global/files/img/logos/UOIT_white.png"
			alt="University of Ontario Institute of Technology"
			class="logo animated fadeIn"
			ng-class="{'fadeOut' : !$ctrl.sequence[0].logo&&!$ctrl.sequence[0].location, 'fadeIn' : $ctrl.sequence[0].location}" />

		<h1 class="animated"
			ng-class="{'flipInX' : $ctrl.sequence[0].heading && !$ctrl.sequence[0].globe[0], 'hidden' : !$ctrl.sequence[0].heading, 'bounceOutUp' : $ctrl.sequence[0].globe[0]}">
			Are you ready for UOIT?<br/>
			<small>We are ready for you!</small>
		</h1>

		<button class="buttonWhite animated" 
			ng-class="{'bounceInUp' : $ctrl.sequence[0].cta && !$ctrl.sequence[0].globe[0], 'hidden' : !$ctrl.sequence[0].cta, 'bounceOutDown' : $ctrl.sequence[0].globe[0]}"
			ng-click="$ctrl.initSequence3()">
			Get ready for September
		</button>
	</div>

</section>